EVENTHUB_CONNECTION_STR=Endpoint=sb://your-eventstream.servicebus.windows.net/;SharedAccessKeyName=your-key-name;SharedAccessKey=your-key
EVENTHUB_NAME=your-eventhub-name
SYMBOLS=btcusdt,ethusdt,solusdt
